{% extends 'base.html' %}
{% block title %}Contact{% endblock %}
{% block content %}
<div style="text-align:center; margin-top:2em;">
    <h2>Contact Us</h2>
    <form method="POST">
        <input type="text" name="name" placeholder="Your Name"><br><br>
        <input type="email" name="email" placeholder="Your Email"><br><br>
        <textarea name="message" placeholder="Your message" rows="4" cols="40"></textarea><br><br>
        <button type="submit">Send</button>
    </form>
</div>
{% endblock %}
